#customBtn1{
    color: #ff6b81;
    &:hover{
    color:white;
    background-color: black;
    }
}
.index{
    background-color: #fff !important;
    color: black !important;
    transition: ease-in-out;
    transition-duration: 0.3s;
}
#features{
    .card:hover{
        margin-top: -5px;
        transition: ease-in-out;
        transition-duration: 0.2s;
    }
}
