#customBtn1{
    color: $danger-color;
    &:hover{
    color:$white-color;
    background-color: $dark-color;
    }
}
.index{
    background-color:$white-color;
    color: $dark-color;
    transition: ease-in-out;
    transition-duration: 0.3s;
}
#features{
    .card:hover{
        margin-top: -5px;
        transition: ease-in-out;
        transition-duration: 0.15s;
    }
}
