$theme-colors:(
    "danger":#ff6b81,
    "light":#f3efef,
    "white":white,
);
// $line-height-base:;
$h1-font-size:2.375rem;
$font-size-base:0.93rem;
$spacer:1.5rem;
$font-family-base: 'Inter', sans-serif;